// font
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap");

:root {
  --headerText: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --white: #ffffff;
}

// Define vars we'll be using

// custom variable values
$primary: #c29938;
$light: #fbf5e5;

// import the functions & variables
@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "altlight": #f2ebfa,
  "altdark": #522192 // "altdark": #27AE60,,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
